<div class="row clearfix">

  <div class="todo_item">
      <p> <%= item.content %> </p>
  </div>

  <div class="trash">
    <%= link_to todo_list_item_path(@todo_list, item.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-lg fa-trash"></i>
    <% end %>
  </div>
</div>