/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$white_opaque: rgba(250, 250, 250, .3);
$dark: #4A4A4A;

* {
  box-sizing: border-box;
}
html {
  //height: 100%;
}

body {
  height: 100%;
  //background: -webkit-linear-gradient(90deg, #23A8EF, #EAECC6);
  //background:    -moz-linear-gradient(90deg, #23A8EF, #EAECC6);
  //background:     -ms-linear-gradient(90deg, #23A8EF, #EAECC6);
  //background:      -o-linear-gradient(90deg, #23A8EF, #EAECC6);
  //background:         linear-gradient(90deg, #23A8EF, #EAECC6);
  background: #E2F46E;
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#notice {
  text-align: center;
  font-size: 0.6em;
  color: $dark;
  font-weight: 100;
}

.container {
  width: 50%;
  max-width: 750px;
  background: $white_opaque;
  margin: 3em auto 0 auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
  padding: 1em 0;
}

.todo_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: black;
  word-spacing: 0.2em;
  margin: 0;
  a {
    text-decoration: none;
    color: black;
    transition: all .4s ease-in-out;
    &:hover {
      opacity: 0.4;
    }
  }
}

.todo_list_sub_title {
  margin: 0 0 3em 0;
  text-align: center;
  font-size: 1em;
  color: $dark;
  font-weight: 100;
}

.index_row {
  padding: 2em;
  border-bottom: 1px solid rgba(250,250,250, .3);
  .todo_list_sub_title {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

#todo_items {
  .row {
    width: 100%;
    border-top: 1px solid rgba(250,250,250, .3);
    border-bottom: 1px solid rgba(250,250,250, .3);
    .todo_item {
      width: 80%;
      float: left;
      p {
        margin-left: 7%;
        //padding: 1em;
        color: $dark;
        font-weight: 100;
      }
    }
    .trash {
      width: 20%;
      float: left;
      text-align: center;
      border-left: 1px solid rgba(250,250,250, .3);
      padding: 1em 0;
    }
    i {
      color: black;
      transition: all .4s ease-in-out;
      &:hover {
        color: $dark;
      }
    }
  }
  #form {
    margin-top: 2em;
    padding: 0 5%;
    input[type="text"] {
      width: 70%;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      background: rgba(250,250,250,.4);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 1em 2em;
    }
    input[type="submit"] {
      background: rgba(250,250,250,.4);
      outline: none;
      border: none;
      height: 40px;
      width: max-content;
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      color: black;
      font-size: 0.8em;
      font-weight: bold;
      background-color: #83cbec;
      border-radius: 10px;
      padding: 1em 1em;
      text-decoration: none;
      text-transform: uppercase;
    }
    ::-webkit-input-placeholder { color: $dark; }
  }
}

.links {
  display: block;
  margin: 1.5em auto 0 auto;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  a {
    color: black;
    background-color: #83cbec;
    border-radius: 10px;
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.forms {
  padding: 0 5%;
}
label {
  color: $dark;
}
input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  outline: none;
  border: none;
  height: 40px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: black;
  background-color: #83cbec;
  border-radius: 10px;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
}
::-webkit-input-placeholder { color: $dark; }

.field {
  color: $dark;
  font-weight: bold;
}